/**
 * @Author Anastasios created on 06.12.2021
 *
 */
.mdi {
  font-size: 1.2rem;
}

.mdi-08 {
  font-size: 0.8rem;
}

.mdi-09 {
  font-size: 0.9rem;
}

.mdi-10 {
  font-size: 1rem;
}

.mdi-11 {
  font-size: 1.1rem;
}

.mdi-12 {
  font-size: 1.2rem;
}

.mdi-13 {
  font-size: 1.3rem;
}

.mdi-14 {
  font-size: 1.4rem;
}

.mdi-15 {
  font-size: 1.5rem;
}

.mdi-16 {
  font-size: 1.6rem;
}

.mdi-17 {
  font-size: 1.7rem;
}
